<div class="text-layout p-2">
  <h1>Pipes Advance Custom</h1>
  <p> Pipes super advanced custom for angular. </p>
  <div class="card">
    <div class="card-container overflow-hidden">
      <p>This pipe is create for <strong>{{'us' | upper: optionFont}}</strong></p>
    </div>

  </div>
</div>

<p-toolbar>
  <div class="p-toolbar-group-left"></div>

  <div class="p-toolbar-group-right">
    <button pButton
            type="button"
            (click)="changeFont()"
            class="mr-1 p-button-danger"
            label="Change Font"
    ></button>
    <button
      pButton
      icon="pi pi-search"
      label="For name"
      (click)="changeOrder('name')"
      class="mr-1"
    ></button>
    <button
      pButton
      icon="pi pi-sort"
      label="Values"
      (click)="changeOrder('flip')"
      class="mr-1 p-button-success"
    ></button>
    <button
      pButton
      icon="pi pi-compass"
      label="Colors"
      (click)="changeOrder('color')"
      class="mr-1 p-button-success"
    ></button>
  </div>
  <p-table [value]="heroes | order: orderOption">
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Flip</th>
        <th>Color</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-hero>
        <tr>
          <td>{{hero.name}}</td>
          <td>
            <p-tag [severity]=" hero.flip ? 'danger': 'success'" [value]="hero.flip | flip"></p-tag>
          </td>
          <td>{{hero.color | color}}</td>
        </tr>
    </ng-template>
  </p-table>

</p-toolbar>

