<div class="text-layout p-2">
  <h1>Decimal Pipes and Percent</h1>
  <p> Pipes number decimal with percent in Angular. </p>
</div>
<div class="card">
  <div class="card-container overflow-hidden">
    <div class="flex">
      <div class="flex-1 m-2">
        <p-card
          header="Sales Net"
          subheader="Years present"
        >
          <i class="pi pi-dollar"></i>
          {{(saleNet + 999300 )| number:'1.1-2' }}

        </p-card>
      </div>
      <div class="flex-1 m-2">
        <p-card
          header="Sales Gross"
          subheader="Years present"
        >
          {{(saleNet + 999300 )| currency: 'CO': 'symbol-narrow' : '1.4-4' }}

        </p-card>
      </div>
      <div class="flex-1 m-2">
        <p-card
          header="Sales Percent"
          subheader="Years present"
        >
          {{percent | percent:'2.2-2' }}

        </p-card>
      </div>
    </div>
  </div>
</div>

