<div class="text-layout p-2">
  <h1>Pipes NoT Commons</h1>
  <p> Pipes not commons in angular. </p>
</div>
<div class="card">
  <div class="card-container overflow-hidden">
    <div class="flex">
      <div class="flex-1 m-2">
        <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
          <p>Saludos {{name}}, es un placer
          {{genero | i18nSelect:invitationMap }}
            a nuestro evento 🥳🎉</p>
          <button pButton type="button" (click)="changeNameClient()" label="Change Name" ></button>
        </p-fieldset>
      </div>
      <div class="flex-1 m-2">
        <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
          <p>Actualmente {{clients.length | i18nPlural : clientsMap  }}</p>
          <button pButton type="button" (click)="eraseClient()" class="p-button-danger" label="Erase Client" ></button>
        </p-fieldset>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-container overflow-hidden">
    <div class="flex">
      <div class="flex-1 m-2">
        <p-fieldset legend="Slice Pipe" [toggleable]="true">
              <h4>Origin</h4>
              <pre>{{clients}}</pre>
              <b>slice:0:2</b>
              <pre>{{clients | slice:0:2}}</pre>
              <b>slice:1:3</b>
              <pre>{{clients | slice:1:3}}</pre>
              <b>slice:0:4</b>
              <pre>{{name | slice:0:3}}</pre>
        </p-fieldset>
      </div>
      <div class="flex-1 m-2">
        <p-fieldset legend="KeyValue Pipe" [toggleable]="true">
          <ul>
            <li *ngFor="let item of persons | keyvalue" >
              {{item.key | titlecase }} - {{item.value}}
            </li>
          </ul>
        </p-fieldset>
      </div>

    </div>
  </div>
</div>

<div class="card">
  <div class="card-container overflow-hidden">
    <div class="flex">
      <div class="flex-1 m-2">
      <p-fieldset legend="JSON Pipe" [toggleable]="true">
        <pre>{{hero | json}}</pre>
      </p-fieldset>
      </div>
      <div class="flex-1 m-2">
        <p-fieldset legend="Async Pipe" [toggleable]="true">
          <pre *ngIf="!(miObservable  | async)" >Resolver Loading...</pre>
          <pre>{{miObservable | async}}</pre>
          <pre *ngIf="!(miPromise | async)" >Resolver Loading...</pre>
          <pre>{{miPromise | async}}</pre>
        </p-fieldset>
      </div>
    </div>
  </div>
</div>

