<div class="text-layout p-2">
  <h1>Pipes Básicos</h1>
  <p>Pipes include in Angular - Usually in module common. </p>
</div>
<div class="card">
  <div class="card-container overflow-hidden">
    <div class="flex">
      <div class="flex-1 m-2">
        <p-card
          header="uppercase"
          [subheader]=" nameLower | uppercase"
        >
          {{nameLower}}
        </p-card>
      </div>
      <div class="flex-1 m-2">
        <p-card
          header="lowercase"
          [subheader]="  nameUpper | lowercase"
        >
          {{ nameUpper }}
        </p-card>
      </div>
      <div class="flex-1 m-2">
        <p-card
          header="titlecase"
          [subheader]="  nameTitle | titlecase "
        >
          {{ nameTitle }}
        </p-card>
      </div>
    </div>
  </div>
</div>
<div class="text-layout p-2">
  <h1>DATE Pipe</h1>
  <p>Show pipes for date in Angular. </p>
</div>
<div class="card">
  <div class="card-container overflow-hidden">
    <div class="flex">
      <div class="flex-1 m-2">
        <p-card>
          <ul>
            <li class="p-1">Date</li>
            <li class="p-1">dateNow | date</li>
            <li class="p-1">dateNow | date: 'short'</li>
            <li class="p-1">dateNow | date: 'long'</li>
            <li class="p-1">dateNow | date: 'MMMM'</li>
            <li class="p-1">dateNow | date: 'MMMM, dd / YYYY'</li>
          </ul>
          <hr>
          <ul>
            <li class="p-1">dateNow | date:'long':'GMT-6'</li>
            <li class="p-1">dateNow | date:'long':'GMT-4'</li>
          </ul>
        </p-card>
      </div>
      <div class="flex-1 m-2">
        <p-card>
          <ul>
            <li class="p-1">{{dateNow}}</li>
            <li class="p-1">{{dateNow | date}}</li>
            <li class="p-1">{{dateNow | date: 'short'}}</li>
            <li class="p-1">{{dateNow | date: 'long'}}</li>
            <li class="p-1">{{dateNow | date: 'MMMM'}}</li>
            <li class="p-1">{{dateNow | date: 'MMMM, dd / YYYY'}}</li>
          </ul>
          <hr>
          <ul>
            <li class="p-1">{{dateNow | date:'long':'GMT-6':'es-CO'}}</li>
            <li class="p-1">{{dateNow | date:'long':'GMT-4'}}</li>
            <li class="p-1">{{dateNow | date:'long':'':'fr'}}</li>
          </ul>

        </p-card>
      </div>
    </div>
  </div>
</div>
